div {
  background-color: black;
  color: white;
  height: 100%;
  padding-top: 20px;
}

p {
  text-align: center;
  font-size: 1.2em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
