<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<div>
  <h1>About the app</h1>
  <p>
    QuotesApp is an app where you can share your thoughts and quotes with no
    account and without even revealing your real name. This app is special as
    you won't need any user account to do anything in this app, each and every
    device uses its local storage to store some data and thus your computer
    becomes the local account for you. So enjoy sharing your thoughts
    anonymously with other people in this platform Quotesapp is a personal
    project of mine, and it is my first project intended to be in my portfolio.
    I'm hosting this site on github that means it is open source. I will provide
    the source link here.
    <i class="fab fa-github"></i>
  </p>
</div>

<div>
  <h1>Technologies used</h1>
  <ul>
    <li>Angular 7 (Frontend)- <i class="fab fa-angular"></i></li>
    <li>Flask - Python (Backend) - <i class="fab fa-python"></i></li>
    <li>Mongodb (Database) - <i class="fas fa-database"></i></li>
  </ul>
</div>

<div>
  <h1>Disclaimer</h1>
  <p>
    This is the alpha release 0.1 so this app might not be completely ready yet
    so if you find any bugs mail me a screenshot at
    <a href="mailto:ayushmanbilasthakur@gmail.com"
      ><i class="fas fa-envelope"></i
    ></a>
  </p>
  <br />
  <br />
  <p>
    To help me with the development of this app you might also contact me at the
    same email - ayushmanbilasthakur@gmail.com
  </p>
</div>
